Repository 3cn-ecn/nantralPlatform, pull requests merged in 2023-03, with the labels that each got.

#955 Thumbnail - Resizable content
  frontend/src/components/EventCard/EventCard.scss
  frontend/src/components/EventCard/EventCard.tsx
Labels: v2 (react), frontend, react-app-interface, react-app-event

#959 Update Vite config and dependencies
  .github/workflows/deploy-server.yml
  .github/workflows/deploy-staging.yml
  Makefile
  backend/.gitignore
  frontend/esbuild.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/NavBarTop/SearchBar/SearchBar.tsx
  frontend/src/utils/camel.ts
  frontend/stats.html
  frontend/vite.config.ts
Labels: v2 (react), frontend

#962 Thumbnail - UI and resizing improvements
  frontend/package-lock.json
  frontend/src/components/Button/FavButton.tsx
  frontend/src/components/Button/MoreActionsButton.scss
  frontend/src/components/Button/MoreActionsButton.tsx
  frontend/src/components/EventCard/EventCard.scss
  frontend/src/components/EventCard/EventCard.tsx
Labels: v2 (react), frontend, react-app-interface, react-app-event

#963 update eventlist to look good
  frontend/src/components/Section/EventSection/EventSection.tsx
  frontend/src/pages/Event/Event.tsx
Labels: v2 (react), frontend, react-app-event

#960 post api update & 404 page
  backend/apps/event/api_urls.py
  backend/apps/event/api_views.py
  backend/apps/post/api_urls.py
  backend/apps/post/api_views.py
  backend/apps/post/serializers.py
  backend/static/css/style.css
  backend/templates/base_empty.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Props/Event.tsx
  frontend/src/Props/GenericTypes.tsx
  frontend/src/Props/Post.tsx
  frontend/src/components/Button/FavButton.tsx
  frontend/src/components/Button/JoinButton.tsx
  frontend/src/components/Modal/PostModal.tsx
  frontend/src/components/NavBarSide/NavBarSide.tsx
  frontend/src/components/PostCard/PostCard.tsx
  frontend/src/components/Section/AccordionSection.tsx
  frontend/src/components/Section/ClubSection/ClubSection.tsx
  frontend/src/components/Section/EventSection/EventSection.scss
  frontend/src/components/Section/EventSection/EventSection.tsx
  frontend/src/components/Section/PostSection/PostSection.tsx
  frontend/src/pages/Event/Event.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/tests/Calendar/testElements/testElements.tsx
  frontend/src/translations/en-GB.json
  frontend/src/translations/fr-FR.json
Labels: v2 (react), backend, frontend

#964 React app calendar improve display
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/Calendar/ChooseWeek/ChangeWeek/ChangeWeek.tsx
  frontend/src/components/Calendar/ChooseWeek/ChooseWeek.scss
  frontend/src/components/Calendar/ChooseWeek/ChooseWeek.tsx
  frontend/src/components/Calendar/ChooseWeek/DateBox/DateBox.tsx
  frontend/src/pages/Event/Event.scss
  frontend/src/pages/Event/Event.tsx
  frontend/src/tests/Calendar/DateBox.test.tsx
Labels: v2 (react), frontend, react-app-event

#965 React app crumbs
  frontend/src/components/NavBarTop/NavBarTop.tsx
Labels: v2 (react), frontend, react-app-interface

#969 fix auto resize in chooseWeek component
  frontend/src/components/Calendar/ChooseWeek/ChangeWeek/ChangeWeek.tsx
  frontend/src/components/Calendar/ChooseWeek/ChooseWeek.tsx
  frontend/src/components/Calendar/ChooseWeek/DateBox/DateBox.tsx
  frontend/src/components/Calendar/Day/Day.tsx
Labels: v2 (react), frontend, react-app-event

#985 Polish & Bug fixes
  backend/apps/event/api_views.py
  backend/apps/event/migrations/0015_event_group_alter_event_form_url_and_more.py
  backend/apps/post/migrations/0009_remove_post_description_remove_post_group_slug_and_more.py
  backend/templates/base_empty.html
  frontend/src/components/ClubAvatar/ClubAvatar.tsx
  frontend/src/components/Modal/PostModal.tsx
  frontend/src/components/PostCard/PostCard.scss
  frontend/src/components/PostCard/PostCard.tsx
  frontend/src/components/Section/AccordionSection.scss
  frontend/src/components/Section/AccordionSection.tsx
  frontend/src/components/Section/ClubSection/ClubSection.tsx
  frontend/src/components/Section/EventSection/EventSection.tsx
  frontend/src/components/Section/PostSection/PostSection.tsx
  frontend/src/pages/Home/Home.scss
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/translations/en-GB.json
  frontend/src/translations/fr-FR.json
  frontend/src/utils/date.ts
Labels: bug, v2 (react), frontend

#987 React app improve eventblock display
  frontend/src/components/Calendar/Day/EventBlock/EventBlock.scss
  frontend/src/components/Calendar/Day/EventBlock/EventBlock.tsx
  frontend/src/tests/Calendar/EventBlock.test.tsx
Labels: v2 (react), frontend, react-app-event

#988 Event details page
  backend/apps/event/tests.py
  backend/apps/event/urls.py
  backend/apps/event/views.py
  backend/config/urls.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Button/FavButton.tsx
  frontend/src/components/Button/JoinButton.tsx
  frontend/src/components/Button/MoreActionsButton.tsx
  frontend/src/components/ClubAvatar/ClubAvatar.tsx
  frontend/src/components/EventCard/EventCard.scss
  frontend/src/components/EventCard/EventCard.tsx
  frontend/src/components/Modal/EventParticipantsModal.tsx
  frontend/src/pages/EventDetails/EventDetails.scss
  frontend/src/pages/EventDetails/EventDetails.tsx
  frontend/src/translations/en-GB.json
  frontend/src/translations/fr-FR.json
Labels: v2 (react), backend, frontend, react-app-interface, react-app-event

#989 React app improve calendar global display fix bug
  frontend/src/components/Calendar/Calendar.scss
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/Calendar/ChooseDisplay/ChooseDisplay.tsx
  frontend/src/components/Calendar/ChooseWeek/ChooseWeek.tsx
  frontend/src/components/Calendar/Day/Day.tsx
  frontend/src/components/Calendar/Day/EventBlock/EventBlock.tsx
  frontend/src/components/Calendar/DayInfos/DayInfos.tsx
  frontend/src/components/Calendar/utils.tsx
  frontend/src/tests/Calendar/ChooseDisplay.test.tsx
  frontend/src/tests/Calendar/Day.test.tsx
  frontend/src/tests/Calendar/EventBlock.test.tsx
Labels: v2 (react), frontend, react-app-event

#998 Default banner and group icon on thumbnail
  backend/static/img/default-banner.png
  frontend/src/components/ClubAvatar/ClubAvatar.tsx
  frontend/src/components/EventCard/EventCard.scss
  frontend/src/components/EventCard/EventCard.tsx
  frontend/src/pages/EventDetails/EventDetails.tsx
Labels: v2 (react), frontend, react-app-interface, react-app-event

#996 React app improve display margin, update month view, create some scss files and fix tests
  frontend/src/components/Calendar/Calendar.scss
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/Calendar/ChooseWeek/ChooseWeek.scss
  frontend/src/components/Calendar/Day/Day.scss
  frontend/src/components/Calendar/Day/Day.tsx
  frontend/src/components/Calendar/Day/EventBlock/EventBlock.scss
  frontend/src/components/Calendar/Day/EventBlock/EventBlock.tsx
  frontend/src/components/Calendar/Day/TimeBlock/TimeBlock.scss
  frontend/src/components/Calendar/Day/TimeBlock/TimeBlock.tsx
  frontend/src/components/Calendar/DayInfos/DayInfos.scss
  frontend/src/components/Calendar/DayInfos/DayInfos.tsx
  frontend/src/components/Calendar/Month/WeekLine/DayBlock/DayBlock.tsx
  frontend/src/tests/Calendar/Day.test.tsx
  frontend/src/tests/Calendar/DayBlock.test.tsx
  frontend/src/tests/Calendar/DayInfos.test.tsx
  frontend/src/tests/Calendar/EventBlock.test.tsx
  frontend/src/tests/Calendar/Month.test.tsx
  frontend/src/tests/Calendar/TimeBlock.test.tsx
  frontend/src/tests/Calendar/WeekLine.test.tsx
Labels: v2 (react), frontend, react-app-event

#1002 React app bug
  backend/apps/student/serializers.py
  frontend/src/assets/scalable/accueil.svg
  frontend/src/components/Avatar/Avatar.tsx
  frontend/src/components/NavBarSide/NavBarSide.tsx
  frontend/src/components/NavBarTop/NavBarTop.tsx
  frontend/src/pages/Profile/Profile.tsx
Labels: improvement, v2 (react), frontend, react-app-interface

#995 Post polish
  backend/apps/event/admin.py
  backend/apps/event/api_urls.py
  backend/apps/event/api_views.py
  backend/apps/event/migrations/0016_alter_event_max_participant.py
  backend/apps/event/migrations/0017_event_updated_at_event_updated_by.py
  backend/apps/event/models.py
  backend/apps/event/serializers.py
  backend/apps/post/admin.py
  backend/apps/post/api_views.py
  backend/apps/post/migrations/0010_post_updated_at_post_updated_by.py
  backend/apps/post/models.py
  backend/apps/post/serializers.py
  backend/apps/post/urls.py
  backend/apps/post/views.py
  backend/static/css/base_empty.css
  backend/templates/base_empty.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Props/Post.tsx
  frontend/src/components/Avatar/Avatar.tsx
  frontend/src/components/Button/FavButton.tsx
  frontend/src/components/Button/JoinButton.tsx
  frontend/src/components/EventCard/EventCard.tsx
  frontend/src/components/FormPost/FormPost.tsx
  frontend/src/components/FormProfil/FormProfil.tsx
  frontend/src/components/Modal/ConfirmationModal.tsx
  frontend/src/components/Modal/PostModal.tsx
  frontend/src/components/PageSuggestionButton/PageSuggestionButton.tsx
  frontend/src/components/PostCard/PostCard.scss
  frontend/src/components/PostCard/PostCard.tsx
  frontend/src/components/Section/AccordionSection.scss
  frontend/src/components/Section/AccordionSection.tsx
  frontend/src/components/Section/ClubSection/ClubSection.tsx
  frontend/src/components/Section/EventSection/EventSection.scss
  frontend/src/components/Section/EventSection/EventSection.tsx
  frontend/src/components/Section/PostSection/PostSection.tsx
  frontend/src/pages/EventDetails/EventDetails.tsx
  frontend/src/pages/Home/Home.scss
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/translations/en-GB.json
  frontend/src/translations/fr-FR.json
  frontend/src/utils/date.ts
  frontend/src/utils/form.tsx
Labels: bug, v2 (react), backend, frontend

#1007 React app event details
  frontend/src/components/ClubAvatar/ClubAvatar.tsx
  frontend/src/components/Modal/ImageModal.tsx
  frontend/src/pages/EventDetails/EventDetails.scss
  frontend/src/pages/EventDetails/EventDetails.tsx
Labels: v2 (react), frontend, react-app-interface, react-app-event
