Repository 3cn-ecn/nantralPlatform, pull requests merged in 2023-02, with the labels that each got.

#884 fix filterInterface name
  frontend/package-lock.json
  frontend/src/components/FilterBar/FilterBar.tsx
Labels: v2 (react), react-app-event

#885 React app home layout
  .vscode/settings.json
  frontend/src/components/Button/JoinButton.tsx
  frontend/src/components/ClubAvatar/ClubAvatar.scss
  frontend/src/components/ClubAvatar/ClubAvatar.tsx
  frontend/src/components/EventCard/EventCard.tsx
  frontend/src/pages/Home/Home.scss
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Props/Club.tsx
  frontend/src/pages/Props/Event.tsx
  frontend/src/translations/en-GB.json
  frontend/src/translations/fr-FR.json
  frontend/src/utils/formatText.ts
Labels: v2 (react), react-app-home

#886 React app calendar multiple events
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/pages/Event/Event.tsx
  frontend/src/pages/Props/Event.tsx
Labels: v2 (react), react-app-event

#887 Update Calendar.tsx
  frontend/src/components/Calendar/Calendar.tsx
Labels: v2 (react), react-app-event

#892 delete code smells
  frontend/src/pages/Event/Event.tsx
Labels: v2 (react), frontend, react-app-event

#893 switch week and fix set event
  frontend/src/components/Calendar/Calendar.scss
  frontend/src/components/Calendar/Calendar.tsx
Labels: v2 (react), frontend, react-app-event

#898 React app filter submenu
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Accordion/SimpleAccordion.scss
  frontend/src/components/Accordion/SimpleAccordion.tsx
  frontend/src/components/Checkbox/CheckboxButton/CheckboxButton.scss
  frontend/src/components/Checkbox/CheckboxButton/CheckboxButton.tsx
  frontend/src/components/Checkbox/CheckboxesTags/CheckboxesTags.tsx
  frontend/src/components/DatePicker/BasicDatePicker.tsx
  frontend/src/components/FilterBar/FilterBar.tsx
Labels: v2 (react), frontend, react-app-event

#900 Backend of favorite button
  backend/apps/event/api_urls.py
  backend/apps/event/api_views.py
  backend/apps/event/models.py
  backend/apps/event/serializers.py
  backend/apps/student/migrations/0007_student_favorite_event.py
  backend/apps/student/models.py
  frontend/src/components/Button/FavButton.tsx
  frontend/src/components/EventCard/EventCard.tsx
  frontend/src/components/NavBarSide/NavBarSide.tsx
  frontend/src/pages/Home/Home.scss
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Props/Event.tsx
Labels: v2 (react), backend, react-app-event

#899 React app mobile
  frontend/src/components/NavBarTop/NavBarTop.tsx
  frontend/src/pages/Home/Home.tsx
Labels: v2 (react), frontend, react-app-interface

#905 React app miniature event
  backend/apps/club/serializers.py
  frontend/src/components/Button/FavButton.tsx
  frontend/src/components/Button/MoreActionsButton.scss
  frontend/src/components/Button/MoreActionsButton.tsx
  frontend/src/components/EventCard/EventCard.scss
  frontend/src/components/EventCard/EventCard.tsx
  frontend/src/pages/Home/Home.tsx.orig
  frontend/src/pages/Props/Club.tsx
  frontend/src/translations/en-GB.json
  frontend/src/translations/fr-FR.json
Labels: improvement, v2 (react), frontend, react-app-interface, react-app-event

#913 Adapt calendar for mobile device
  frontend/package-lock.json
  frontend/src/components/Calendar/Calendar.scss
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/Calendar/ChooseWeek/ChangeWeek/ChangeWeek.tsx
  frontend/src/components/Calendar/ChooseWeek/ChooseWeek.tsx
  frontend/src/components/Calendar/ChooseWeek/DateBox/DateBox.tsx
  frontend/src/components/Calendar/Day/Day.tsx
  frontend/src/components/Calendar/Day/EventBlock/EventBlock.tsx
  frontend/src/components/Calendar/Day/TimeBlock/TimeBlock.tsx
  frontend/src/components/Calendar/DayInfos/DayInfos.tsx
  frontend/src/components/Calendar/EventDataProps/EventDataProps.tsx
  frontend/src/utils/array.ts
  frontend/src/utils/date.ts
  frontend/src/utils/maths.ts
Labels: v2 (react), frontend, react-app-event

#917 React app mobile
  frontend/src/App.tsx
  frontend/src/pages/Academics/Academics.tsx
  frontend/src/pages/Admin/Admin.tsx
  frontend/src/pages/BDX/BDX.tsx
  frontend/src/pages/Club/Club.tsx
  frontend/src/pages/Family/Family.tsx
  frontend/src/pages/LegalNotice/Legal.tsx
  frontend/src/pages/Map/Map.tsx
  frontend/src/pages/Sign/Sign.tsx
  frontend/src/pages/Student/Student.tsx
Labels: v2 (react), frontend

#918 ajout shotgun + responsivité
  frontend/src/components/Formular/Formular.css
  frontend/src/components/Formular/Formular.tsx
  frontend/src/pages/Event/Event.tsx
Labels: v2 (react), frontend, react-app-event

#919 added export events functionnality for the calendar
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Calendar/Calendar.tsx
Labels: v2 (react), frontend, react-app-event

#920 React app join button update
  backend/apps/event/api_views.py
  frontend/src/Props/Club.tsx
  frontend/src/Props/Event.tsx
  frontend/src/components/Button/JoinButton.tsx
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/Calendar/Day/Day.tsx
  frontend/src/components/Calendar/Day/EventBlock/EventBlock.tsx
  frontend/src/components/ClubAvatar/ClubAvatar.tsx
  frontend/src/components/EventCard/EventCard.tsx
  frontend/src/components/Modal/UnsuscribeModal.tsx
  frontend/src/pages/Event/Event.tsx
  frontend/src/pages/Home/Home.scss
  frontend/src/pages/Home/Home.tsx
Labels: v2 (react), backend, frontend, react-app-home, react-app-event

#924 React app event filter backend
  frontend/src/components/Accordion/SimpleAccordion.tsx
  frontend/src/components/Checkbox/CheckboxButton/CheckboxButton.scss
  frontend/src/components/Checkbox/CheckboxButton/CheckboxButton.tsx
  frontend/src/components/Checkbox/CheckboxesTags/CheckboxesTags.tsx
  frontend/src/components/DatePicker/BasicDatePicker.tsx
  frontend/src/components/FilterBar/FilterBar.scss
  frontend/src/components/FilterBar/FilterBar.tsx
Labels: frontend, react-app-event

#927 Thumbnail - Unregister button
  frontend/src/components/Button/FavButton.tsx
  frontend/src/components/Button/JoinButton.tsx
  frontend/src/components/Button/MoreActionsButton.tsx
  frontend/src/components/EventCard/EventCard.scss
  frontend/src/components/EventCard/EventCard.tsx
  frontend/src/translations/en-GB.json
  frontend/src/translations/fr-FR.json
Labels: v2 (react), frontend, react-app-interface, react-app-event

#928 React app calendar view
  frontend/src/Props/Event.tsx
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/Calendar/CalendarProps/CalendarProps.tsx
  frontend/src/components/Calendar/ChooseDisplay/ChooseDisplay.tsx
  frontend/src/components/Calendar/ChooseWeek/ChangeWeek/ChangeWeek.tsx
  frontend/src/components/Calendar/ChooseWeek/ChooseWeek.tsx
  frontend/src/components/Calendar/Day/Day.tsx
  frontend/src/components/Calendar/Day/EventBlock/EventBlock.tsx
  frontend/src/pages/Event/Event.tsx
  frontend/src/utils/array.ts
  frontend/src/utils/camel.ts
  frontend/src/utils/date.ts
  frontend/src/utils/event.ts
  frontend/src/utils/maths.ts
Labels: v2 (react), frontend, react-app-event

#933 Home page and event update
  frontend/src/components/Button/JoinButton.tsx
  frontend/src/components/ButtonBanner/ButtonBanner.scss
  frontend/src/components/ButtonBanner/ButtonBanner.tsx
  frontend/src/components/ClubAvatar/ClubAvatar.tsx
  frontend/src/components/EventSection/EventSection.scss
  frontend/src/components/EventSection/EventSection.tsx
  frontend/src/pages/Home/Home.scss
  frontend/src/pages/Home/Home.tsx
  frontend/src/translations/en-GB.json
  frontend/src/translations/fr-FR.json
Labels: v2 (react), frontend

#935 React app jest calendar
  frontend/.gitignore
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/Props/Event.tsx
  frontend/src/components/Calendar/Day/Day.test.tsx
  frontend/src/components/Calendar/Day/Day.tsx
  frontend/src/components/Calendar/Day/EventBlock/EventBlock.test.tsx
  frontend/src/components/Calendar/Day/EventBlock/EventBlock.tsx
  frontend/src/components/Calendar/testElements/testElements.tsx
Labels: improvement, v2 (react), frontend

#932 small fix
  frontend/src/pages/Event/Event.tsx
  frontend/src/utils/camel.ts
Labels: v2 (react), frontend

#943 React app filter translation datepicker
  frontend/src/components/DatePicker/BasicDatePicker.scss
  frontend/src/components/DatePicker/BasicDatePicker.tsx
  frontend/src/components/FilterBar/FilterBar.tsx
  frontend/src/translations/en-GB.json
  frontend/src/translations/fr-FR.json
Labels: v2 (react), frontend, react-app-event
