Repository 3cn-ecn/nantralPlatform, pull requests merged in 2023-01, with the labels that each got.

#837 Create Pipfile
  frontend/Pipfile
Labels: v2 (react)

#855 create and init event page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Event/Event.scss
  frontend/src/pages/Event/Event.tsx
Labels: v2 (react), react-app-event

#861 added Calendar.tsx
  frontend/src/pages/Event/Calendar.scss
  frontend/src/pages/Event/Calendar.tsx
  frontend/src/pages/Event/Event.scss
  frontend/src/pages/Event/Event.tsx
Labels: v2 (react), react-app-event

#868 React app get event
  frontend/src/api.ts
  frontend/src/pages/Event/Calendar.scss
  frontend/src/pages/Event/Calendar.tsx
  frontend/src/pages/Event/Calendar/Calendar.scss
  frontend/src/pages/Event/Calendar/Calendar.tsx
  frontend/src/pages/Event/Event.tsx
Labels: v2 (react), frontend, react-app-event

#872 React app formulaire event
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Formular/Formular.tsx
  frontend/src/pages/Event/Event.scss
  frontend/src/pages/Event/Event.tsx
Labels: v2 (react), react-app-event

#875 React app new set event calendar
  frontend/src/components/Calendar/Calendar.scss
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/pages/Event/Calendar/Calendar.scss
  frontend/src/pages/Event/Calendar/Calendar.tsx
  frontend/src/pages/Event/Event.tsx
Labels: v2 (react), react-app-event

#880 React app menu dark mode
  frontend/src/App.tsx
  frontend/src/components/NavBarSide/NavBarSide.tsx
  frontend/src/components/NavBarTop/NavBarTop.scss
  frontend/src/components/NavBarTop/NavBarTop.tsx
  frontend/src/darktheme.ts
  frontend/src/translations/en-GB.json
  frontend/src/translations/fr-FR.json
Labels: v2 (react), react-app-interface

#881 FilterBar - Checkboxes and Accordions
  frontend/src/components/Accordion/SimpleAccordion.tsx
  frontend/src/components/Checkbox/CheckboxButton/CheckboxButton.scss
  frontend/src/components/Checkbox/CheckboxButton/CheckboxButton.tsx
  frontend/src/components/Checkbox/CheckboxesTags/CheckboxesTags.tsx
  frontend/src/components/FilterBar/FilterBar.scss
  frontend/src/components/FilterBar/FilterBar.tsx
  frontend/src/pages/Event/Event.tsx
Labels: v2 (react), react-app-event
